/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
    font-family: 'Poppins', sans-serif;
    color: #444444;
}

a {
    color: #636978;
    font-weight: 600;
    text-decoration: none;
}

a:hover {
    color: #000;
    text-decoration: none;
}

span {
    color: #E1251B;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
}


/*--------------------------------------------------------------
# Boton
--------------------------------------------------------------*/

.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #E1251B;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #000;
    font-weight: 600;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}


/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #E1251B;
    border-top-color: #fff;
    border-bottom-color: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/*--------------------------------------------------------------
# Disable animation mobile devices
--------------------------------------------------------------*/

@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}


/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
    background: #fff;
    transition: all 0.5s;
    z-index: 997;
    padding: 15px 0;
    box-shadow: 0px 0 18px rgba(55, 66, 59, 0.08);
}

#header .logo {
    margin: 0;
    padding: 0;
}

#header .logo img {
    max-height: 40px;
}


/**
* Get Startet Button 
*/

.btn-sesion {
    margin-left: 20px;
    background: #E1251B;
    color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
}

.btn-sesion:hover {
    background: #AA140C;
    color: #fff;
}

@media (max-width: 768px) {
    #header .logo img {
        max-height: 28px;
    }
    .btn-sesion {
        margin: 0 13px 0 0;
        padding: 6px 14px;
    }
}


/*--------------------------------------------------------------
# Nav Menu
--------------------------------------------------------------*/


/**
* Desktop Nav

*/

.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Poppins", sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    color: #37423b;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 13px;
    line-height: 0;
    margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
    color: #E1251B;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
    color: #E1251B;
}

.navbar .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover>ul {
        left: -100%;
    }
}


/**
* Mobile Navigation 
*/

.mobile-nav-toggle {
    color: #37423b;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
    color: #fff;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(32, 38, 34, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 6px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #37423b;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
    color: #E1251B;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
    margin: 15px;
}


/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#hero {
    width: 100%;
    height: 80vh;
    background: url("../assets/images/hero-bg.jpg") top center;
    background-size: cover;
    position: relative;
}

#hero:before {
    content: "";
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero .container {
    padding-top: 72px;
}

@media (max-width: 992px) {
    #hero .container {
        padding-top: 62px;
    }
}

#hero h1 {
    margin: 0;
    font-size: 40px;
    font-weight: 500;
    line-height: 58px;
    color: #000;
    font-family: "Poppins", sans-serif;
}

#hero .btn-get-started {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 35px;
    border-radius: 50px;
    transition: 0.5s;
    margin-top: 30px;
    color: #fff;
    background: #E1251B;
    border: 2px solid #E1251B;
}

#hero .btn-get-started:hover {
    background: #AA140C;
    border: 2px solid #AA140C;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 768px) {
    #hero {
        height: 100vh;
    }
    #hero h1 {
        font-size: 28px;
        line-height: 36px;
    }
    #hero h2 {
        font-size: 18px;
        line-height: 24px;
    }
}


/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/

section {
    padding: 60px 0;
    overflow: hidden;
}

.section-bg {
    background-color: #f6f7f6;
}

.section-title {
    padding-bottom: 40px;
}

.section-title p {
    margin: 0;
    margin: 0;
    font-size: 30px;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    color: #000;
    text-align: center;
}

.breadcrumbs {
    margin-top: 73px;
    text-align: center;
    background: #E1251B;
    padding: 30px 0;
    color: #fff;
}

@media (max-width: 992px) {
    .breadcrumbs {
        margin-top: 63px;
    }
}

.breadcrumbs h2 {
    font-size: 32px;
    font-weight: 500;
}

.breadcrumbs p {
    font-size: 14px;
    margin-bottom: 0;
}


/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/

.about .content h3 {
    font-weight: 600;
    font-size: 26px;
}

.about .content ul {
    list-style: none;
    padding: 0;
}

.about .content ul li {
    padding-bottom: 10px;
}

.about .content ul i {
    font-size: 20px;
    padding-right: 4px;
    color: #E1251B;
}

.about .content .learn-more-btn {
    background: #E1251B;
    color: #fff;
    border-radius: 50px;
    padding: 8px 25px 9px 25px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
}

.about .content .learn-more-btn:hover {
    background: #3ac162;
    color: #fff;
}

@media (max-width: 768px) {
    .about .content .learn-more-btn {
        margin: 0 48px 0 0;
        padding: 6px 18px;
    }
}


/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/

.counts {
    padding: 30px 0;
}

.counts .counters span {
    font-size: 48px;
    display: block;
    color: #E1251B;
    font-weight: 700;
}

.counts .counters p {
    padding: 0;
    margin: 0 0 20px 0;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 600;
    color: #37423b;
}


/*--------------------------------------------------------------
# Servicios
--------------------------------------------------------------*/

.doc-serv .content {
    padding: 30px;
    background: #E1251B;
    border-radius: 4px;
    color: #fff;
}

.doc-serv .content h3 {
    font-weight: 700;
    font-size: 34px;
    margin-bottom: 30px;
    color: #E1251B;
}

.doc-serv .content p {
    margin-bottom: 30px;
}

.doc-serv .content .more-btn {
    display: inline-block;
    background: rgba(255, 255, 255, 0.2);
    padding: 0px 30px 8px 30px;
    color: #fff;
    border-radius: 50px;
    transition: all ease-in-out 0.4s;
}

.doc-serv .content .more-btn i {
    font-size: 14px;
}

.doc-serv .content .more-btn:hover {
    color: #E1251B;
    background: #fff;
}

.doc-serv .icon-boxes .icon-box {
    text-align: center;
    background: #fff;
    padding: 40px 30px;
    width: 100%;
    border: 1px solid #eef0ef;
}

.doc-serv .icon-boxes .icon-box i {
    font-size: 32px;
    padding: 18px;
    color: #E1251B;
    margin-bottom: 30px;
    background: #ecf9f0;
    border-radius: 50px;
}

.doc-serv .icon-boxes .icon-box h4 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px 0;
}

.doc-serv .icon-boxes .icon-box p {
    font-size: 15px;
    color: #848484;
}


/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/

.features {
    padding-top: 0px;
}

.features .icon-box {
    display: flex;
    align-items: center;
    padding: 20px;
    transition: 0.3s;
    border: 1px solid #eef0ef;
}

.features .icon-box i {
    font-size: 32px;
    padding-right: 10px;
    line-height: 1;
}

.features .icon-box h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 16px;
}

.features .icon-box h3 a {
    color: #37423b;
    transition: 0.3s;
}

.features .icon-box:hover {
    border-color: #E1251B;
}

.features .icon-box:hover h3 a {
    color: #E1251B;
}


/*--------------------------------------------------------------
# documentos
--------------------------------------------------------------*/

.documentos .doc-item {
    border-radius: 5px;
    border: 1px solid #eef0ef;
}

.documentos .doc-content {
    padding: 15px;
}

.documentos .doc-content h3 {
    font-weight: 700;
    font-size: 20px;
}

.documentos .doc-content h3 a {
    color: #37423b;
    transition: 0.3s;
}

.documentos .doc-content h3 a:hover {
    color: #E1251B;
}

.documentos .doc-content p {
    font-size: 14px;
    color: #777777;
}

.documentos .doc-content h4 {
    font-size: 14px;
    background: #E1251B;
    padding: 7px 14px;
    color: #fff;
    margin: 0;
}

.documentos .doc-content .price {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    color: #37423b;
}

.documentos .trainer {
    padding-top: 15px;
    border-top: 1px solid #eef0ef;
}

.documentos .trainer .trainer-profile img {
    max-width: 50px;
    border-radius: 50px;
}

.documentos .trainer .trainer-profile span {
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: #5a6c60;
}

.documentos .trainer .trainer-rank {
    font-size: 18px;
    color: #657a6d;
}


/*--------------------------------------------------------------
# Servicios
--------------------------------------------------------------*/

.doc-details h3 {
    font-size: 24px;
    margin: 30px 0 15px 0;
    font-weight: 700;
    position: relative;
    padding-bottom: 10px;
}

.doc-details h3:before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background: #eef0ef;
    bottom: 0;
    left: 0;
}

.doc-details h3:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 1px;
    background: #E1251B;
    bottom: 0;
    left: 0;
}

.doc-details .doc-info {
    background: #f6f7f6;
    padding: 10px 15px;
    margin-bottom: 15px;
}

.doc-details .doc-info h5 {
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.doc-details .doc-info p {
    margin: 0;
    font-weight: 600;
}

.doc-details .doc-info a {
    color: #657a6d;
}


/*--------------------------------------------------------------
# Servicios Tabs
--------------------------------------------------------------*/

.cource-details-tabs {
    overflow: hidden;
    padding-top: 0;
}

.cource-details-tabs .nav-tabs {
    border: 0;
}

.cource-details-tabs .nav-link {
    border: 0;
    padding: 12px 15px 12px 0;
    transition: 0.3s;
    color: #37423b;
    border-radius: 0;
    border-right: 2px solid #e2e7e4;
    font-weight: 600;
    font-size: 15px;
}

.cource-details-tabs .nav-link:hover {
    color: #E1251B;
}

.cource-details-tabs .nav-link.active {
    color: #E1251B;
    border-color: #E1251B;
}

.cource-details-tabs .tab-pane.active {
    -webkit-animation: fadeIn 0.5s ease-out;
    animation: fadeIn 0.5s ease-out;
}

.cource-details-tabs .details h3 {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    color: #37423b;
}

.cource-details-tabs .details p {
    color: #777777;
}

.cource-details-tabs .details p:last-child {
    margin-bottom: 0;
}

@media (max-width: 992px) {
    .cource-details-tabs .nav-link {
        border: 0;
        padding: 15px;
    }
    .cource-details-tabs .nav-link.active {
        color: #fff;
        background: #E1251B;
    }
}


/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
    color: #37423b;
    font-size: 14px;
    background: #eef0ef;
}

#footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f9faf9;
}

#footer .footer-top .footer-contact {
    margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}

#footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #777777;
}

#footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #444444;
    position: relative;
    padding-bottom: 12px;
}

#footer .footer-top .footer-links {
    margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #333333;
    font-size: 18px;
    line-height: 1;
}

#footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
}

#footer .footer-top .footer-links ul a {
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #E1251B;
}

#footer .logo-footer {
    margin: 0;
    padding: 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #E1251B;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#footer .social-links a:hover {
    background: #AA140C;
    color: #fff;
    text-decoration: none;
}